[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
absl-py = '*'

[dev-packages]
pytest = '*'
pytest-cover = '*'
pytest-sugar = '*'
pytest-icdiff = '*'
pytest-clarity = '*'
pytest-html = '*'
pytest-instafail = '*'

[pipenv]
allow_prereleases = true
